<header>
  <div class="container">
    <a id="a-title" href="{{ '/' | relative_url }}">
      <h1>{{ site.title | default: site.github.repository_name }}</h1>
    </a>
    <h2>{{ site.description | default: site.github.project_tagline }}</h2>

    <section id="menu">
      <a href="/" class="btn"><span class="bi bi-house">&nbsp;&nbsp;</span>Home</a>
      <a href="/contact" class="btn"><span class="bi bi-code">&nbsp;&nbsp;</span>Contact</a>
      <!-- <a href="/portfolio" class="btn"><span class="bi bi-file-earmark-code-fill">&nbsp;&nbsp;</span>Portfolio</a> -->
      <a href="https://github.com/cthonney/" class="btn"><span class="bi bi-github">&nbsp;&nbsp;</span>View on
        GitHub</a>
      <a href="https://www.linkedin.com/in/cthonney" class="btn"><span class="bi bi-linkedin">&nbsp;&nbsp;</span>View
        on
        LinkedIn</a>
    </section>
  </div>
</header>
